<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
  <form>
  	<%= simple_form_for @post do |f| %>
  	<%= f.input :image %>
  	<%= f.input :caption %>
  	<%= f.button :submit %>
	<% end %>
	</form>
  </div>
  <div class="col-sm-4"></div>
</div>



